<div class="properties pb-30">
    <div class="properties-card">
        <div class="properties-img">
            <a href="pro-details.html">
                <img src="{{product().images}}" alt=""></a>
            <div class="socal_icon">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
                <a href="#"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
            </div>
        </div>
        <div class="properties-caption properties-caption2">
            <h3><a href="pro-details.html">{{product().name}}</a></h3>
            <div class="properties-footer">
                <div class="price">
                    <span>{{product().price}}<span>$120.00</span></span>
                </div>
            </div>
        </div>
    </div>
</div>