<div class="container">
    <div class="row">
        @for(aud of audience(); track aud.id) {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-items mb-20">
                <div class="items-img">
                    <app-image [name]="aud.image"></app-image>

                </div>
                <div class="items-details">
                    <h4><a (click)="onClick(aud)">{{aud.name}}</a></h4>
                    <a (click)="onClick(aud)" class="browse-btn">{{aud.btnText}}</a>
                </div>
            </div>
        </div>
        }
        <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-items mb-20">
                <div class="items-img">
                    <app-image name="women/women-fashion"></app-image>
                </div>
                <div class="items-details">
                    <h4><a href="pro-details.html">Women's Fashion</a></h4>
                    <a href="pro-details.html" class="browse-btn">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="single-items mb-20">
                <div class="items-img">
                    <app-image name="kids/kids-fashion"></app-image>
                </div>
                <div class="items-details">
                    <h4><a href="pro-details.html">Baby Fashion</a></h4>
                    <a href="pro-details.html" class="browse-btn">Shop Now</a>
                </div>
            </div>
        </div> -->
    </div>
</div>