<carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="true" [interval]="3000" [indicatorsByChunk]="true">

    @for(product of products(); track product){
    <slide>
        <div class="properties pb-30">
            <div class="properties-card">
                <div class="properties-img">
                    <a href="javascript:void(0);"
                        (click)="addToCartClick(product);$event.preventDefault(); $event.stopPropagation()">
                        <img class="img-fluid" [src]="product.thumbnail" alt="Product Front View">
                    </a>
                    <div class="socal_icon">
                        <a href="javascript:void(0);"
                            (click)="addToCartClick(product);$event.preventDefault(); $event.stopPropagation()"><i
                                class="fa-solid fa-cart-shopping"></i></a>
                        <a href="javascript:void(0);"><i class="fa-regular fa-heart"></i></a>
                        <a href="javascript:void(0);"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                    </div>
                </div>
                <div class="properties-caption properties-caption2">
                    <h3><a href="javascript:void(0);">{{product.brand}}</a></h3>
                    <h3><a href="javascript:void(0);">{{product.title}}</a></h3>
                    <div class="properties-footer">
                        <div class="price">
                            <span>₹{{product.price}}<span></span></span> <span>
                                {{product.discountPercentage}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slide>
    }
</carousel>