<!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/assets/img/icon/loder.png" alt="loder">
      </div>
    </div>
  </div>
</div> -->
<!-- Preloader Start -->
<header>
  <div class="header-area">
    <app-header></app-header>
    <app-nav></app-nav>
    <app-header-bottom></app-header-bottom>
  </div>
</header>
<main>
  <!-- slider Area Start-->
  <section class="slider-area ">
    <div class="slider-active">
      <app-featured-carousel></app-featured-carousel>
    </div>
  </section>
  <!-- slider Area End-->
  <!-- items Product 1  Start-->
  <section class="items-product1 pt-30">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-items mb-20">
            <div class="items-img">
              <img src="/assets/img/gallery/items1.jpg.webp" alt="">
            </div>
            <div class="items-details">
              <h4><a href="pro-details.html">Men's Fashion</a></h4>
              <a href="pro-details.html" class="browse-btn">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-items mb-20">
            <div class="items-img">
              <img src="/assets/img/gallery/items2.jpg.webp" alt="">
            </div>
            <div class="items-details">
              <h4><a href="pro-details.html">Women's Fashion</a></h4>
              <a href="pro-details.html" class="browse-btn">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-items mb-20">
            <div class="items-img">
              <img src="/assets/img/gallery/items3.jpg.webp" alt="">
            </div>
            <div class="items-details">
              <h4><a href="pro-details.html">Baby Fashion</a></h4>
              <a href="pro-details.html" class="browse-btn">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--items Product  End -->
  <!-- Latest-items Start -->

  <div class="latest-items section-padding fix">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-12">
          <div class="nav-button">
            <!--Nav Button  -->
            <nav>
              <div class="nav-tittle">
                <h2>Trending This Week</h2>
              </div>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab"
                  aria-controls="nav-one" aria-selected="true" [class.active]="selectedTab==='men'"
                  (click)="onTabChange('men')">Men</a>
                <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab"
                  aria-controls="nav-two" aria-selected="false" [class.active]="selectedTab==='women'"
                  (click)="onTabChange('women')">Women</a>
                <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three" role="tab"
                  aria-controls="nav-three" aria-selected="false" [class.active]="selectedTab==='baby'"
                  (click)="onTabChange('baby')">Baby</a>
                <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four" role="tab"
                  aria-controls="nav-four" aria-selected="false" [class.active]="selectedTab==='fashion'"
                  (click)="onTabChange('fashion')">Fashion</a>
              </div>
            </nav>
            <!--End Nav Button  -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- <div style="width: 100%;height: 150px;">
        <app-carousel></app-carousel>
      </div> -->
      <!-- Nav Card -->
      <div class="tab-content" id="nav-tabContent">
        @if(selectedTab=== 'men'){
        <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
          <!-- Tab 1 -->
          <div class="latest-items">
            <app-carousel></app-carousel>
          </div>
        </div>
        } @else if(selectedTab=== 'women'){
        <div class="tab-pane fade show active" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
          <!-- Tab 2 -->
          <div class="latest-items">
            <app-carousel></app-carousel>
          </div>
        </div>
        } @else if(selectedTab=== 'baby'){
        <div class="tab-pane fade show active" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
          <!-- Tab 3 -->
          <div class="latest-items">
            <app-carousel></app-carousel>
          </div>
        </div>
        } @else if(selectedTab=== 'fashion'){
        <div class="tab-pane fade show active" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">
          <!-- Tab 4 -->
          <div class="latest-items">
            <app-carousel></app-carousel>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <!-- Latest-items End -->
  <!-- Testimonial Start -->
  <div class="testimonial-area testimonial-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-11">
          <div class="h1-testimonial-active">
            <app-testimonial-carousel></app-testimonial-carousel>
            <!-- Single Testimonial -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
  <!-- Latest-items 02 Start -->
  <section class="latest-items section-padding fix">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-tittle text-center mb-40">
          <h2>You May Like</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="latest-items">
        <app-carousel></app-carousel>
      </div>
    </div>
  </section>
  <!-- Latest-items End -->
  <!-- Home Blog Start -->
  <section class="home-blog">
    <div class="container">
      <div class="row justify-content-center">
        <div class="cl-xl-7 col-lg-8 col-md-10">
          <!-- Section Tittle -->
          <div class="section-tittle text-center mb-40">
            <h2>Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blogs mb-30">
            <div class="blog-img">
              <a href="pro-details.html"><img src="/assets/img/gallery/blog1.jpg.webp" alt=""></a>
            </div>
            <div class="blogs-cap">
              <span>Fashion Tips</span>
              <h5><a href="pro-details.html">What Curling Irons Are The Best Ones</a></h5>
              <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure, delectus..</p>
              <a href="pro-details.html" class="red-btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blogs mb-30">
            <div class="blog-img">
              <a href="pro-details.html"><img src="/assets/img/gallery/blog2.jpg.webp" alt=""></a>
            </div>
            <div class="blogs-cap">
              <span>Fashion Tips</span>
              <h5><a href="pro-details.html">Vogue's Ultimate Guide To Autumn/
                  Winter 2019 Shoes</a></h5>
              <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure, delectus..</p>
              <a href="pro-details.html" class="red-btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blogs mb-30">
            <div class="blog-img">
              <a href="pro-details.html"><img src="/assets/img/gallery/blog3.jpg.webp" alt=""></a>
            </div>
            <div class="blogs-cap">
              <span>Fashion Tips</span>
              <h5><a href="pro-details.html">What Curling Irons Are The Best Ones</a></h5>
              <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure, delectus..</p>
              <a href="pro-details.html" class="red-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Blog End -->
  <!-- Services Area Start -->
  <div class="categories-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="cat-icon">
              <img src="/assets/img/icon/services1.svg" alt="">
            </div>
            <div class="cat-cap">
              <h5>Fast & Free Delivery</h5>
              <p>Free delivery on all orders</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="cat-icon">
              <img src="/assets/img/icon/services2.svg" alt="">
            </div>
            <div class="cat-cap">
              <h5>Secure Payment</h5>
              <p>Free delivery on all orders</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".4s">
            <div class="cat-icon">
              <img src="/assets/img/icon/services3.svg" alt="">
            </div>
            <div class="cat-cap">
              <h5>Money Back Guarantee</h5>
              <p>Free delivery on all orders</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="cat-icon">
              <img src="/assets/img/icon/services4.svg" alt="">
            </div>
            <div class="cat-cap">
              <h5>Online Support</h5>
              <p>Free delivery on all orders</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Area End -->
</main>
<footer>
  <div class="footer-wrapper gray-bg">
    <div class="footer-area footer-padding">
      <!--? Subscribe Area Start -->
      <section class="subscribe-area">
        <div class="container">
          <div class="row justify-content-between subscribe-padding">
            <div class="col-xxl-3 col-xl-3 col-lg-4">
              <div class="subscribe-caption">
                <h3>Subscribe Newsletter</h3>
                <p>Subscribe newsletter to get 5% on all products.</p>
              </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9">
              <div class="subscribe-caption">
                <form action="#">
                  <input type="text" placeholder="Enter your email">
                  <button class="subscribe-btn">Subscribe</button>
                </form>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-4">
              <!-- social -->
              <div class="footer-social">
                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscribe Area End -->
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-20">
                <!-- logo -->
                <div class="footer-logo mb-35">
                  <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Shop Men</h4>
                <ul>
                  <li><a href="#">Clothing Fashion</a></li>
                  <li><a href="#">Winter</a></li>
                  <li><a href="#">Summer</a></li>
                  <li><a href="#">Formal</a></li>
                  <li><a href="#">Casual</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Shop Women</h4>
                <ul>
                  <li><a href="#">Clothing Fashion</a></li>
                  <li><a href="#">Winter</a></li>
                  <li><a href="#">Summer</a></li>
                  <li><a href="#">Formal</a></li>
                  <li><a href="#">Casual</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Baby Collection</h4>
                <ul>
                  <li><a href="#">Clothing Fashion</a></li>
                  <li><a href="#">Winter</a></li>
                  <li><a href="#">Summer</a></li>
                  <li><a href="#">Formal</a></li>
                  <li><a href="#">Casual</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="#">Track Your Order</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Carrier</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center">
                <p>Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                  with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank" rel="nofollow noopener">Colorlib</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="back-top">
  <a class="wrapper" title="Go to Top" href="#">
    <div class="arrows-container">
      <div class="arrow arrow-one">
      </div>
      <div class="arrow arrow-two">
      </div>
    </div>
  </a>
</div>

<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- <script src="./assets/js/popper.min.js"></script> -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!--wow , counter , waypoint, Nice-select -->
<script src="/assets/js/wow.min.js"></script>

<!--  Plugins, main-Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>