<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-11">
            <div class="h1-testimonial-active">
                <carousel [itemsPerSlide]="itemsPerSlide" [showIndicators]="false" [singleSlideOffset]="true"
                    [interval]="5000" [indicatorsByChunk]="true">
                    <!-- @for(slide of slides; track slide){ -->
                    <slide>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>Customer Testimonial</h2>
                                    <p>Everybody is different, which is why we offer styles for every body. Laborum fuga
                                        incidunt
                                        laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="/assets/img/gallery/founder-img.png.webp" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Petey Cruiser</span>
                                        <p>Designer at Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>Customer Testimonial</h2>
                                    <p>Everybody is different, which is why we offer styles for every body. Laborum fuga
                                        incidunt
                                        laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="/assets/img/gallery/founder-img.png" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>Petey Cruiser</span>
                                        <p>Designer at Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <!-- } -->
                </carousel>
            </div>
        </div>
    </div>
</div>