<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-11">
            <div class="h1-testimonial-active">
                <carousel [itemsPerSlide]="itemsPerSlide" [showIndicators]="false" [singleSlideOffset]="true"
                    [interval]="5000" [indicatorsByChunk]="true">
                    @for(testimonial of testimonials(); track testimonial.id){
                    <slide>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>{{testimonial.title}}</h2>
                                    <p>{{testimonial.review}}</p>
                                </div>
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <!-- <img src="/assets/img/gallery/founder-img.png.webp" alt=""> -->
                                        @if(testimonial.image) {
                                        <app-image [name]="testimonial.image" alt="Testimonial Image"></app-image>
                                        }
                                    </div>
                                    <div class="founder-text">
                                        <span>{{testimonial.name}}</span>
                                        <p>{{testimonial.designation}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    }
                </carousel>
            </div>
        </div>
    </div>
</div>