<!-- <carousel [pauseOnFocus]="true">
    <slide>
        <div class="properties pb-30">
            <div class="properties-card">
                <div class="properties-img">
                    <a href="pro-details.html"><img src="/assets/img/gallery/latest1.jpg.webp" alt=""></a>
                    <div class="socal_icon">
                        <a href="#"><i class="ti-shopping-cart"></i></a>
                        <a href="#"><i class="ti-heart"></i></a>
                        <a href="#"><i class="ti-zoom-in"></i></a>
                    </div>
                </div>
                <div class="properties-caption properties-caption2">
                    <h3><a href="pro-details.html">Cashmere Tank + Bag</a></h3>
                    <div class="properties-footer">
                        <div class="price">
                            <span>$98.00 <span>$120.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="properties pb-30">
            <div class="properties-card">
                <div class="properties-img">
                    <a href="pro-details.html"><img src="/assets/img/gallery/latest1.jpg.webp" alt=""></a>
                    <div class="socal_icon">
                        <a href="#"><i class="ti-shopping-cart"></i></a>
                        <a href="#"><i class="ti-heart"></i></a>
                        <a href="#"><i class="ti-zoom-in"></i></a>
                    </div>
                </div>
                <div class="properties-caption properties-caption2">
                    <h3><a href="pro-details.html">Cashmere Tank + Bag</a></h3>
                    <div class="properties-footer">
                        <div class="price">
                            <span>$98.00 <span>$120.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="properties pb-30">
            <div class="properties-card">
                <div class="properties-img">
                    <a href="pro-details.html"><img src="/assets/img/gallery/latest1.jpg.webp" alt=""></a>
                    <div class="socal_icon">
                        <a href="#"><i class="ti-shopping-cart"></i></a>
                        <a href="#"><i class="ti-heart"></i></a>
                        <a href="#"><i class="ti-zoom-in"></i></a>
                    </div>
                </div>
                <div class="properties-caption properties-caption2">
                    <h3><a href="pro-details.html">Cashmere Tank + Bag</a></h3>
                    <div class="properties-footer">
                        <div class="price">
                            <span>$98.00 <span>$120.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slide>
</carousel> -->

<carousel>
    <!-- @for(slide of slides; track slide){ -->
    <slide>
        <div class="single-slider slider-bg1 slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8  col-sm-10">
                        <div class="hero-caption text-center">
                            <span>Fashion Sale</span>
                            <h1 data-animation="bounceIn" data-delay="0.2s">Minimal Menz Style</h1>
                            <p data-animation="fadeInUp" data-delay="0.4s">Consectetur adipisicing elit. Laborum fuga
                                incidunt
                                laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
                            <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="single-slider slider-bg2 slider-height d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
              <div class="hero-caption text-center">
                <span>Fashion Sale</span>
                <h1 data-animation="bounceIn" data-delay="0.2s">Minimal Menz Style</h1>
                <p data-animation="fadeInUp" data-delay="0.4s">Consectetur adipisicing elit. Laborum fuga incidunt
                  laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
                <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <!-- } -->
</carousel>