<div class="slider-active">
    <carousel>
        <!-- @for(slide of slides; track slide){ -->
        <slide>
            <div class="single-slider slider-bg1 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8  col-sm-10">
                            <div class="hero-caption text-center">
                                <span>Fashion Sale</span>
                                <h2 data-animation="bounceIn" data-delay="0.2s">Minimal Menz Style</h2>
                                <p data-animation="fadeInUp" data-delay="0.4s">Dedicated to simplicity and elegance. Offering timeless fashion that combines comfort with confidence for the modern man.</p>
                                <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
        <slide>
            <div class="single-slider slider-bg2 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
                            <div class="hero-caption text-center">
                                <span>Fashion Sale</span>
                                <h2 data-animation="bounceIn" data-delay="0.2s">Minimal Womanz Style</h2>
                                <p data-animation="fadeInUp" data-delay="0.4s">Effortless elegance for the modern woman. Timeless designs that blend comfort, confidence, and sophistication for every occasion.</p>
                                <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
        <!-- } -->
    </carousel>
</div>