.input-group {
  background: #dee6f5;
  height: 50px;
}
.form-control:focus {
  box-shadow: none;
}
.form-control,
.input-group-text {
  border: none;
  background: transparent;
}
.input-group-text {
  border-right: none !important;
}

@media screen and (min-width: 576px) {
  .form-control,
  .input-group-text {
    border: none;
  }
  .form-control:focus {
    box-shadow: none;
    border: none;
  }
  .form-control {
    width: 300px;
  }
  .input-group-text:has(+ input:focus) {
    box-shadow: none;
    border: none;
    border-right: none;
  }
}

::ng-deep .dropdown-menu {
  left: -39px !important;
  width: 339px !important;
  border-radius: 0px !important;
  max-height: 400px;
  overflow-y: auto;
  background: #dee6f5;
  border: none !important;
  border-top:#c9d6ee 1px solid !important;
}
