<div class="header-mid header-sticky">
    <div class="container">
        <div class="menu-wrapper">
            <div class="mobile_menu d-block d-lg-none">
                
            </div>

            <!-- Logo -->
            <div class="logo">
                <a [routerLink]="'/'"><img src="/assets/img/logo/logo.png.webp" alt=""></a>
            </div>

            <div class="d-none d-lg-block">
                <app-search></app-search>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
                <nav>
                    <ul id="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="categories.html">Men</a></li>
                        <li><a href="categories.html">Women</a></li>
                        <li class="new"><a href="categories.html">Kids</a></li>
                        <!-- <li><a href="#">Pages <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="submenu">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="pro-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a>
                            <ul class="submenu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="elements.html">Element</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </nav>
            </div>
            <!-- Header Right -->
            <div class="header-right">
                <ul>
                    <!-- <li>
                        <div class="nav-search search-switch hearer_icon">
                            <a id="search_1" href="javascript:void(0)">
                                <span class="flaticon-search">
                                    <i class="fa-solid fa-magnifying-glass"></i></span>
                            </a>
                        </div>
                    </li> -->
                    <li>
                        <a href="login.html">
                            <span class="flaticon-user">
                                <i class="fa-regular fa-user"></i>
                            </span>
                        </a>
                    </li>
                    <li class="cart">
                        <a [routerLink]="'/cart'">
                            <span class="flaticon-shopping-cart"><i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="d-block d-sm-none pt-3">
            <app-search></app-search>
        </div>
        <!-- Show Search Box -->
        <div style="display: none;" class="search_input" id="search_input_box">
            <form class="search-inner d-flex justify-content-between ">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
        </div>
        <!-- Mobile Menu -->
        <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
        </div>
    </div>
</div>